.base {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 32px;

  color: #000000;
}

.s {
  composes: base;
  width: 1000px;
}

@media (max-width: 1200px) {
  .base {
    font-size: 14px;
    line-height: 16px;
  }

  .s {
    width: 100%;
  }
}
