.button {
  position: fixed;
  right: 66px;
  bottom: 120px;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity .3s;
  opacity: 1;
}

.buttonHidden {
  composes: button;
  opacity: 0;
  pointer-events: none;
}
