.button {
  position: fixed;
  right: 41px;
  bottom: 97px;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 1;
  width: 129px;
  height: 129px;
}

.buttonHidden {
  composes: button;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 1023px) {
  .button {
    right: -5px;
    bottom: 51px;
    width: 75px;
    height: 75px;
  }
}
