.wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  width: 806px;
  max-width: 100%;
  margin: 70px auto 80px;
}

.left,
.right {
  display: flex;
  filter: drop-shadow(0px 4px 20px rgba(98, 98, 98, 0.25));
}

.left {
  align-items: flex-end;
  text-align: right;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008C95;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

.right {
  align-items: flex-start;
}

.rotated {
  transform: rotate(180deg);
}

@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .center {
    font-size: 18px;
  }

  .icon {
    display: none;
  }
}
