.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #00323d;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.linkActive {
  composes: link;
  color: #008c95;
}

@media (max-width: 1700px) {
  .link {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .link {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #008c95;
  }

  .linkActive {
    color: #e04e39;
  }
}
