.supTitle {
  margin-top: 160px;
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  color: #008c95;
}

.subTitle {
  font-weight: 600;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 23px;
}

@media (max-width: 1023px) {
  .supTitle {
    margin-top: 45px;
    font-size: 16px;
    line-height: 19px;
  }

  .subTitle {
    font-size: 12px;
    line-height: 30px;
  }
}
