.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}

.title {
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 138px;
  line-height: 100%;
  color: #00323d;
}

.content {
  width: 1660px;
  margin: auto;
}

.image {
  height: 245px;
  flex-shrink: 0;
}

@media (max-width: 1700px) {
  .title {
    font-size: 100px;
  }

  .content {
    width: 85%;
  }

  .image {
    height: 200px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    margin-top: 30px;
  }

  .image {
    height: 48px;
  }

  .title {
    font-size: 24px;
    line-height: 28px;
  }

  .content {
    width: 100%;
    padding: 0 15px;
  }
}
