.button {
  position: absolute;
  padding: 15px 50px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  font-size: 27px;
  line-height: 32px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  background: #008C95;
  box-shadow: 0px 0px 9.98978px rgba(155, 155, 155, 0.4);
  border-radius: 40.1851px;
}

@media (max-width: 1200px) {
  .button {
    padding: 7px 25px;
    font-size: 14px;
    line-height: 16px;
  }
}
