.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.variant {
  flex-basis: 750px;

  &:first-of-type {
    flex-basis: 775px;
    margin-right: 100px;
  }
}

.text {
  font-size: 27px;
  line-height: 32px;
  margin-bottom: 85px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #00313c;
  margin-bottom: 45px;
}

@media (max-width: 1200px) {
  .wrapper {
    display: block;
  }

  .variant {
    &:first-of-type {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  .text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
  }

  .title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }
}
