.wrapper {
  position: relative;
  margin-bottom: 48px;
}

.dropdown {
  width: 220px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s;
  top: 38px;
}

.dropdownHidden {
  composes: dropdown;
  opacity: 0;
  pointer-events: none;
}

.link {
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #00323d;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.linkActive {
  composes: link;
  color: #008c95;

  .icon {
    fill: #008c95;
  }
}

.dropdownLink {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 100%;
  color: #00323d;
  text-decoration: none;
  white-space: nowrap;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.dropdownLinkSelected {
  composes: dropdownLink;
  font-weight: 700;
  color: #008c95;
}

.icon {
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .link {
    font-size: 24px;
    color: #008c95;
    line-height: 32px;

    .icon {
      fill: #008c95;
    }
  }

  .linkActive {
    color: #008c95;

    .icon {
      fill: #008c95;
    }
  }

  .wrapper {
    margin-bottom: 32px;
  }

  .icon {
    margin-left: auto;
  }

  .dropdownLink {
    font-size: 16px;
    line-height: 130%;
    color: #008c95;
    text-transform: uppercase;
  }

  .dropdownLinkSelected {
    color: #e04e39;
    font-weight: 400;
  }

  .dropdown {
    position: static;
    padding: 32px 16px 0;
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
  }

  .dropdownHidden {
    display: none;
  }
}
