.button {
  position: static;
}

.block1 {
  margin: 160px auto 0;
  padding: 10px calc(50% - 840px) 57px;
}

.block2 {
  background: #00313c;
  padding: 57px calc(50% - 840px);
  margin: 0 auto;
}

.block3 {
  background: #77e2c3;
  padding: 57px calc(50% - 840px);
  margin: 0 auto;
}
