.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  color: #00323d;
  text-decoration: none;
}

.linkActive {
  composes: link;
  color: #ffffff;
}
