.text {
  font-weight: 400;
  font-size: 96px;
  line-height: 112px;
  width: 1660px;
  margin: auto;
}

@media (max-width: 1700px) {
  .text {
    width: 85%;
    font-size: 80px;
  }
}

@media (max-width: 1200px) {
  .text {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    padding: 20px 30px;
  }
}