/* autoprefixer grid: autoplace */
.wrapper {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-flow: column;
  grid-gap: 55px 80px;

}

.item {
  display: flex;
}

.number {
  margin-right: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #008c95;
}

.text {
  font-size: 24px;
  line-height: 30px;
}
