/* autoprefixer grid: autoplace */
.wrapper {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-right: -55px;

}

.itemRow {
  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 55px;
  }
}

.item {
  flex-basis: 30%;
  display: flex;
  margin-right: 55px;
}

.number {
  margin-right: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #008c95;
}

.text {
  font-size: 24px;
  line-height: 30px;
}
