.image {
  width: 100%;
  height: auto;
}

.oh {
  overflow: hidden;
}

.i1 {
  background: url('./assets/whoweare.svg') no-repeat 0 -1px;
  padding-bottom: calc(96 / 192 * 100%);
  background-size: cover;
  margin-top: 160px;
}

.i2 {
  margin-top: 120px;
  background: url('./assets/principles.svg') no-repeat 0 -1px;
  padding-bottom: calc(1037 / 1920 * 100%);
  background-size: cover;
}

.i3 {
  margin-top: -30px;
  background: url('./assets/purpose.svg') no-repeat 0 -1px;
  padding-bottom: calc(1142 / 1920 * 100%);
  background-size: cover;
}

.i4 {
  margin-top: 24px;
  background: url('./assets/prods2.svg') no-repeat 100% -1px;
  padding-bottom: calc(545 / 1920 * 100%);
  background-size: contain;
}

.img {
  width: 100%;
  height: auto;
}

.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-top: 74px;
}

@media (max-width: 1023px) {
  .i2 {
    margin-top: 25px;
    background-image: url('./assets/principles_m.svg');
    padding-bottom: calc(254 / 375 * 100%);
  }

  .i3 {
    margin-top: 0;
    background-image: url('./assets/purpose_m.svg');
    padding-bottom: calc(513 / 375 * 100%);
  }

  .i4 {
    margin-top: 24px;
    background: url('./assets/prods2_m.svg') no-repeat;
    padding-bottom: calc(421 / 375 * 100%);
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
  }
}
