.title {
  display: flex;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 64px;
  padding: 0 5px 30px;
  color: #00323d;
  border-bottom: 1px solid #c8c8c8;
  margin: 0 -5px 36px;
}

.extra {
  margin-left: auto;
}

@media (max-width: 1023px) {
  .title {
    font-size: 20px;
    padding: 0 0 12px;
    margin: 0 0 14px;
    align-items: center;
  }
}